{% extends 'base.html.twig' %}

{% block title %}{{ formation.title }} - EcoIT{% endblock %}

{% block content %}
    <h1 class="title-center">{{ formation.title }}</h1>
    
    <div class="row">
        <div class="col-4">
            <ul>
                <li><h2>{{ formation.title }}</h2></li>
                <hr>
                <li class="list-section"><h3>{{ section.title }}</h3></li>    
                {% for lesson in lessons %}   
                    <li class="list-lesson">         
                        <a id="{{ lesson.id }}" href="{{ path('lesson_check', { 'slug': formation.slug, 'id' : lesson.id }) }}" class="js-check">
                        {% if app.user and lesson.isCheckedByUser(app.user) %}
                            <img class="check{{ lesson.id }} icon-lesson" src="{{ asset('assets/images/check.png') }}" alt="check">
                        {% else %}
                            <img class="check{{ lesson.id }} icon-lesson" src="{{ asset('assets/images/not-check.png') }}" alt="not-check">
                        {% endif %}
                        </a>
                        <a class="watch" href="{{ path('lesson_watch', { 'slug': formation.slug, 'id' : lesson.id }) }}">
                            {{ lesson.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-1 separation">
        </div>        
        <div class="col-7">
            <p class="title"></p>
            <div class="video"></div>
            <p class="explanation"></p>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('assets/js/formation.js') }}"></script>
{% endblock %}
