{% extends 'base.html.twig' %}

{% block title %}{{ formation.title }} - EcoIT{% endblock %}

{% block content %}
    <h1 class="title-center">{{ formation.title }}</h1>
    
    <div class="row">
        <div class="col-4">
        <ul>
            <li><h2>{{ formation.title }}</h2></li>
            <li><h3>{{ section.title }}</h3></li>    
            {% for lesson in lessons %}   
                <li>         
                    <a href="{{ path('lesson_check', { 'slug': formation.slug, 'id' : lesson.id }) }}">
                    {% if app.user and lesson.isCheckedByUser(app.user) %}
                        <img class="icon-lesson" src="{{ asset('assets/images/check.png') }}" alt="check">
                    {% else %}
                        <img class="icon-lesson" src="{{ asset('assets/images/not-check.png') }}" alt="not-check">
                    {% endif %}
                    </a>
                    <a href="#">
                        {{ lesson.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        </div>
        <div class="col-8">
            <a href="#">
            Valider la leçon
            </a>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('assets/js/formation.js') }}"></script>
{% endblock %}
